h1{
    color: orange;
}
p{
    text-align: right;
}
body{
    background-color: cornflowerblue;
}
.descripcion {
    font-weight: bold;
    color: brown;
}
.especial{
    background-color: aqua;
}
#enunciado{
    background-color: azure;
    text-align: center;
}